<div class="container">
  <h1>Widget Factory</h1>

  <div class="nav">
    {{#link-to 'widgets'}}Widgets{{/link-to}} - {{#link-to 'cogs'}}Cogs{{/link-to}}
  </div>

  <div class="main">
    {{outlet}}
  </div>
</div>

{{outlet modal}}
